*{
    font-family: Poppins;
    font-weight: 400i, 700, 800i;
}
body{
    background-color: rgba(211, 211, 211, 0.616);
    border : 1px solid;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
#container{
    background-color: rgb(255, 255, 255);
    width: 70vw;
    height: 66vh;
    border-radius: 15px 15px 100px 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-style: italic;

}
#dateForm{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 20px;
}

.divform{
    display: inline-flex;
    flex-direction: column;
}
.error{
    display: flex;
    justify-content:center;
    align-items: center;
    color:red
}

.divform p {
    margin-top: 2px;
    color: rgb(90, 87, 87);
    font-weight: 700;
}
.divform .input_field{
    width: 85%;
    height: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 5px 5px;
    border-radius: 6px;
    border: 1px solid rgba(118, 117, 117, 0.616) ;
    color: rgb(90, 87, 87);
    font-size: 28px;

}
.divform .input_field:focus{
    background-color: rgb(255, 255, 255);
}
.divform .input_field:focus-visible{
    outline: 2px solid rgb(100, 44, 241);
}
.divform .invalid_input{
    width: 85%;
    height: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 5px 5px;
    border-radius: 6px;
    border: 1px solid rgba(118, 117, 117, 0.616);
    outline: 2px solid red;
    color: rgb(90, 87, 87);
    font-size: larger;
}
.divform .invalid_input:focus-visible{
    outline: 2px solid rgb(100, 44, 241);
}
.last_div{
    grid-row: 2;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ligne{
    width: 100%;
    border: 1px solid rgba(118, 117, 117, 0.616) ;
}
#submit{
    width: 15%;
    height: 100%;
    border: 1px solid transparent;
    background-color: rgb(100, 44, 241);
    border-radius: 100%;
    color :white
}
#submit:active{
    outline: 2px solid rgb(90, 87, 87);
}
#submit:hover{
    background-color: black;
}
.text_container{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.element{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    margin: 0;
}
.text_ligne_container{
    width: 10%;
    display: inline-flex;
}

.text_ligne{
    width: 50%;
    height: 7px;
    background-color: rgb(100, 44, 241);
    margin-right: 10px;

}
.title{
    margin-right: 10px;
    color:rgb(100, 44, 241)
}
.element h1{
    font-size: 60px;
    font-weight: 800;
    font-style: italic;
}
@media screen and ( 800px<width< 1000px) {
   #submit{
    width: 15%;
   }  
}

@media screen and (600px<width<800px) { 
    .ligne{
        width: 100%;
    }
    .possible_ligne{
        width: 100%;
        border: 1px solid rgba(118, 117, 117, 0.616) ;
    }
    #submit{
        width: 35%;
    }
    .text_ligne_container{
        width: 15%;
    }
    
}
@media screen and (width<600px) {
    .element h1{
        font-size: 40px;
    }
    .ligne{
        width: 100%;
    }
    .possible_ligne{
        width: 100%;
        border: 1px solid rgba(118, 117, 117, 0.616) ;
    }
    #submit{
        width: 35%;
    }
    .text_ligne_container{
        width: 15%;
    }
    .divform .input_field{
        font-size: 20px;
    }
}
@media screen and (width<400px) {
    .element h1{
        font-size: 30px;
    }
    .ligne{
        width: 100%;
    }
    .possible_ligne{
        width: 100%;
        border: 1px solid rgba(118, 117, 117, 0.616) ;
    }
    #submit{
        width: 45%;
    }
    .text_ligne_container{
        width: 25%;
    }
    .divform .input_field{
        font-size: 15px;
    }
    #container{
        height: 50vh;
    }
    
}
